<div class="container flashes">
  <% if flash %>
    <% flash.each do |flash_type, text| %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <%= text %>
      </div>
    <% end %>
<% end %>
</div>

