<div class='container'>
  <h2 class='header'>Header</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras suscipit cursus nulla a hendrerit. Nullam sagittis sit amet dui at consectetur. Nulla id eros condimentum, vulputate nisl in, laoreet quam. Fusce in vehicula elit. Curabitur fringilla viverra dui, quis iaculis nisi efficitur quis. Donec lacinia lectus sagittis, posuere justo non, luctus arcu. Vestibulum lacinia leo et eros tempor, ut convallis nisi interdum. Ut tellus ipsum, vulputate at lacinia nec, suscipit sed eros. Nullam vulputate bibendum dolor at vehicula. Pellentesque at massa dolor. Aenean nunc velit, elementum in nulla at, auctor placerat urna.
  </p>
</div>
