<div class='row sticky'>
  <div class='col-sm-3'>
    <div class='side-nav'>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a data-toggle="tab" href="#student">Student</a></li>
        <li><a data-toggle="tab" href="#attendance">Attendance</a></li>
        <li><a data-toggle="tab" href="#timetable">Timetable</a></li>
        <li><a data-toggle="tab" href="#courses">Courses Offered</a></li>
        <li><a data-toggle="tab" href="#admissions">Admissions and Enrolments</a></li>
      </ul>
    </div>
  </div>
  <div class='col-sm-9'>
    <div class="tab-content">
      <!-- Student profile -->
      <div id="student" class="tab-pane fade in active">
        <!-- NAV TABS -->
        <ul class="nav nav-tabs">
          <li  class="active"><a href="#info">General Information</a></li>
          <li><a href="#issues">Student Issues</a></li>
          <li><a href="#misc">Miscellaneous</a></li>
        </ul>
        <!-- Tab Panes -->
        <div class='tab-content'>
          <div id='info' class='tab-pane fade in active'>
            <div class='col-sm-8'>
              <h3>Search student</h3>
              <input type='text' placeholder='Enter student name' class='form-control'>
            </div>
          </div>
          <div id='issues' class="tab-pane fade">
            <h3>Search for issues </h3>
            <form>
              <div class='form-group'>
              <input type='text' placeholder='search student issues' class='form-control'>
              </div>
            </form>
            <p>Any complaints raised by the student</p>
            <p>Allow for creation of new issues </p>
          </div>
          <div id='misc' class="tab-pane fade">
            <p>Anything else about the student</p>
          </div>
        </div>
        <div>
        </div>
      </div>
      <!-- END of Students -->
       <div id="attendance" class="tab-pane fade">
        <h3 class='header'>Students Register</h3>
        <p><%= link_to 'Create new attendance', new_attendance_path %></p>
      </div>
      <div id="timetable" class="tab-pane fade">
        <h3 class='header'>Course Timetables</h3>
      </div>
      <div id="courses" class="tab-pane fade">
        <h3 class='header'>Courses Offered</h3>
      </div>
      <div id="admissions" class="tab-pane fade">
        <h3 class='header'>Admissions and Enrolments</h3>
      </div>
    </div>
  </div>
</div>
