@import 'variables';

.navbar {
  background: $faded_green;
}

#bs-example-navbar-collapse-1 {
  a {
    color: #000;
    text-transform: capitalize;
    font-size: 15px;

    &:hover {
      color: $primary_color;
      text-decoration: none;
    }
  }
  .nav-item {
    display: inline-block;
    padding-right: 10px;
  }
}

.navbar-brand {
  font-size: 23px;
}
