@import 'navbar';
@import 'forms/main_form';
@import 'forms/student_form';
@import 'links/a_links';
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;

  .header {
    font-size: 30px;
    padding-bottom: 10px;
  }
}
