<% if @courses.size == 0 %>
<p>No courses available</p>
<p><%= link_to 'New course', new_course_path %></p>
<% else %>
  <h3 class='header'>Courses Offered</h3>
  <div class='courses container'>
    <% @courses.each do |course|%>
      <div class='course-details'>
        <p><%= link_to course.name, course_path(course) %></p>
      </div>
    <% end %>
    <br>
    <br>
  </div>
  <br>
  <br>
  <p style='text-align:center;'>
    <%= link_to 'Create new course', new_course_path, class:'btn btn-primary' %>
  </p>
<% end %>
